@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}



.title{
    margin: 30px;
    font-weight: 500;
    text-align: center;
}

.input-box{
    display: flex;

}

.input{
    padding: 10px;
    border: 2px solid #e5c9c5;
    margin: 0px 5px;
}

.input::placeholder{
    color: gray;
}

.input:focus{
    outline: none;
    border: 2px solid #e59a8e;
}

.add-btn{
    padding: 10px 25px;
    background-color: #e5c9c5;
    color: white;
    margin: 0px 5px;
}

.add-btn:hover{
    background-color: #e59a8e;
}

.noti-box{
    padding: 15px;
    display: flex;
    justify-content: center;
}



.output{
    display: flex;
    width: 870px;
    justify-content: space-between;
    background-color: #e5c9c5;
    align-items: center;
    padding: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.name-box{
    width: 217.5px;
}

.name-text{
    display: block;
}

.country-box{
    width: 217.5px;
}

.score-box{
    width: 217.5px;
}

.edit-box{
    width: 217.5px;
    display: flex;
}

.btn{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.btn:hover{
    background-color: #def4b3;
}

.del-icon{
    color: red;
}

